<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 3px solid black;
    padding: 25px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: crimson;
    color: white;
    }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}



button:hover, a:hover {
  opacity: 0.7;
}


body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
</style>
<script>
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
<br/><br/>
<table id="customers">
    <h2 style="color:black; margin-left:450px;">STUDENT DETAILS</h2>
    <button class="btn btn-info" ui-sref="webcam">ADD STUDENT DETAILS</button>
    <div class="col-md-3 col-sm-3 col-xs-8 form-group pull-right top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="searchtext">
            <span class="input-group-btn">
			<button class="btn btn-default" type="button">Go!</button>
		</span>
        </div>
    </div>

    <br/><br/><br/>
    <tr>
        <th>Details</th>
        <!--<th>Password</th>-->
        <!--<th>Name</th>-->
        <!--<th>Department</th>-->
        <!--<th>Photo</th>-->
        <th>Action</th>

    </tr>
    <tr dir-paginate="register in registerList|filter:searchtext|itemsPerPage:2">
        <!--<td>-->
            <!--<div class="card">-->
                    <!--<div id="myCarousel" class="carousel slide col-sm-offset-2  col-sm-8" data-ride="carousel">-->
                        <!--&lt;!&ndash; Indicators &ndash;&gt;-->
                        <!--<ol class="carousel-indicators col-sm-4">-->
                            <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                            <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                            <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                        <!--</ol>-->

                        <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
                        <!--<div class="carousel-inner col-sm-4">-->
                            <!--<div class="item active">-->
                                <!--<img src="images/welcome.gif" alt="Los Angeles" style="height:300px; width:400px;">-->
                            <!--</div>-->

                            <!--<div class="item" ng-repeat="photo in register.photo">-->
                                <!--<img src="photos/{{photo}}" alt="Chicago" style="height:300px; width:400px;">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--<h1><label style="color:red;" >Name:</label>{{register.name}}</h1>-->
                <!--<p class="title"><label style="color:red;">Password:</label>{{register.password}}</p>-->
                <!--<p><label style="color:red;" >Department:</label>{{register.department}}</p>-->
            <!--</div>-->
        <!--</td>-->
        <td>
            <h1><label style="color:red;" >Name:</label>{{register.name}}</h1>
            <p class="title"><label style="color:red;">Password:</label>{{register.password}}</p>
            <p><label style="color:red;" >Department:</label>{{register.department}}</p>

            <div class="row" style="margin-left:40px;">
                <div class="column" ng-repeat="photo in register.photo">
                    <img src="photos/{{photo}}"style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                </div>
            </div>
        </td>
        <td>
            <button class="btn btn-success" ui-sref="updatetable({registerId:register._id})">edit</button>
            <button class="btn btn-danger" ng-click="deleteRegister(register._id);">delete</button>
        </td>
    </tr>
</table>
<dir-pagination-controls class="paging" style="margin-left:450px;"
                         max-size="3"
                         direction-links="true"
                         boundary-links="true" >
</dir-pagination-controls>


<!--
<div class="container col-sm-12">
    <h2>ACHIEVEMENT IMAGES</h2>
    <div id="myCarousel" class="carousel slide col-sm-offset-2  col-sm-8" data-ride="carousel">
        &lt;!&ndash; Indicators &ndash;&gt;
        <ol class="carousel-indicators col-sm-4">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        &lt;!&ndash; Wrapper for slides &ndash;&gt;
        <div class="carousel-inner col-sm-4">
            <div class="item active">
                <img src="images/welcome.gif" alt="Los Angeles" style="height:300px; width:400px;">
            </div>
            <div class="item" ng-repeat="register in registerList">
                <img src="photos/{{register.photo}}" alt="Chicago" style="height:300px; width:400px;">
            </div>
        </div>

        &lt;!&ndash; Left and right controls &ndash;&gt;
    </div>
</div>
-->



